* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: #F8F8F8;
}

#frm-header,
#frm-footer {
    background-color: white;
}

.header {
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
}

#navbar {
    width: 100%;
}

#nav .img_logo {
    display: flex;
    float: left;
    cursor: pointer;
    margin-top: 3%;
}

.img_logo img:hover {
    border-right: 2px dashed #6C6C6C;
    border-bottom: 2px dashed #6C6C6C;
    border-left: 2px dashed #6C6C6C;
}
#tenLogin{
	display: flex;
	margin-left: 25%;
	margin-top: -4%;
	padding-bottom: 2%;
}
#navbar p {
    font-size: 20px;
    margin: 0 auto;
    margin-top: -58px;
    width: fit-content;
    border-bottom: 1px solid black;
}

#navbar #form_chucnang {
    display: flex;
    float: right;
    width: 45%;
    /* border: 1px solid black; */
    margin-top: -30px;
    padding-left: 10px;
}

#navbar button[type="submit"]:hover {
    background-color: lightgray;
}

#navbar input[type="button"] {
    margin-left: 25%;
    color: black !important;
    background-color: white;
    border: 1px solid black;
}

#navbar input[type="button"]:hover {
    background-color: black;
    color: white !important;
}

#navbar button {
    height: 10%;
    margin-top: 5px;
    margin-left: 10px;
    background-color: white;
    border: none;
}

#content {
    margin-top: 18px;
    /* width: 100%;
    height: 200px; */
    /* border: 1px solid black; */
}

#imgTop img,
#imgBottom img {
    width: 100%;
    height: 360px;
}

#imgBottom {
    margin-top: 3%;
}

#title,
#slider,
#frm-twelve-sp,
#frm-list-sp,
#footer,
#top_footer,
#bottom_footer {
    margin: 0 auto;
    /* width: 94%; */
    background-color: white;
    border: 2px solid #e5e5e57e;
}

#title {
    display: flex;
    align-items: center;
    height: 50px;
}

#line-left,
#line-right {
    width: 20%;
    border-top: 1px solid black;
}

#line-left {
    float: left;
    margin-left: 5%;
}

#title h4 {
    margin: 0 auto;
}

#line-right {
    float: right;
    margin-right: 5%;
}

#slider {
    padding: 2% 0 2% 0;
    /* border: 1px solid black; */
}

.owl-stage {
    margin-bottom: 25px;
    overflow: visible;
}


/* .owl-item {
    box-shadow: 0px 7px 5px -2px #BFBFBF;
} */

.owl-carousel img {
    height: 160px;
    border-right: 1px solid #C4C4C4;
    padding: 0 5% 0 5%;
    box-shadow: 0px 7px 5px -2px #BFBFBF;
    /* border: 1px solid black; */
}

.owl-carousel img:hover {
    box-shadow: 0px 0px 10px 5px lightgray;
}

.owl-prev,
.owl-next {
    width: 40px;
    height: 40px;
    background-color: #F3F3F3 !important;
}

.owl-nav {
    margin-bottom: 10px;
}

.owl-prev:hover,
.owl-next:hover {
    background-color: lightgray !important;
}

#list-sp-ban-chay {
    padding: 0 6% 0 6%;
    /* border: 1px solid black; */
}

.img-thumbnail {
    width: 22%;
    margin: 0 auto;
    margin-top: 3%;
    border: none;
    cursor: pointer;
}

.img-thumbnail:hover {
    box-shadow: 0px 0px 25px 5px lightgray;
}

#frm-list-sp,
#frm-twelve-sp {
    padding-bottom: 3%;
}

#frm-list-sp figure,
#frm-twelve-sp figure {
    padding: 40px 20px 40px 20px;
}

#frm-list-sp a,
#frm-twelve-sp a{
    text-decoration: none;
}
#frm-list-sp #productTitle,
#frm-twelve-sp #productTitle {
    text-align: justify;
}

#backTop {
    width: 42px;
    height: 42px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    cursor: pointer;
    background-color: #EDEDED;
    line-height: 39px;
}

[class^='fa-'],
[class*='fa-'] {
    display: inline-block;
    width: 100%;
}

#backTop i {
    text-align: center;
    vertical-align: middle;
}

#backTop:hover {
    background-color: lightgray;
}

#morong,
#thugon {
    margin: 0 auto;
    margin-top: 3%;
    width: 94%;
    background-color: white;
    /* border: 1px solid black; */
}

#btnMoRong, #btnThuGon {
    width: 50%;
    height: 40px;
    margin: 0 auto;
    padding-top: 8px;
    background-color: #F8F8F8;
    border: none;
}

#btnMoRong:hover,
#btnThuGon:hover {
    background-color: lightgray;
}

#user,
#cart {
    margin-left: 7%;
    width: 12%;
    /* border: 1px solid black; */
}

#btnUser img,
#btnUser img {
    margin: 0 auto;
    width: 34px;
    height: 30px;
    cursor: pointer;
}

#btnCart img {
    margin-top: 4px;
    width: 25px;
    height: 25px;
}

#soluong {
    background-color: red;
    padding: 0 2px 1px 1px;
    margin-left: -5px;
    margin-top: -5%;
    font-size: 13px;
}

#btnSearch :hover,
#btnUser :hover,
#btnCart :hover {
    background-color: lightgray;
}

/* #footer {
    margin-left: -13px;
    width: 1120px;
} */

#top_footer {
    padding-bottom: 20px;
}

#top_footer a {
    padding-top: 10px;
    /* border: 1px solid black; */
}

#top_footer p {
    padding-top: 30px;
    margin-left: 20px;
    /* border: 1px solid black; */
}

#bottom_footer {
    margin-top: -17px;
    background-color: white;
}

#clock {
    padding-top: 24px;
    /* border: 1px solid black; */
}

/* #footer{
	    margin-top: 18px;
} */
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}